<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Builder Submission</title>
</head>
<body>
  <div>
    <h1>Your Pizza</h1>
    <p>Size {{size}}</p>
    <p>Toppings {{toppingCount}}</p>
    <p>Gluten-Free Crust {{glutenFree}}</p>
    <p>Special Instructions {{specialInstructions}}</p>
    <p>Price {{price}} </p>
    {{#if isFreeDelivery}}
    <p>Your delivery is free.</p>
    {{else}}
    <p></p>
    {{/if}}
  </div>
</body>
</html>